In this project, we will look at the number of births in the United States in the file "US_births_1994-2003_CDC_NCHS.csv". This file represents the births from 1994 to 2003. First, we will use basic functions in python to convert the file into a readable format and then explore the data.

In [2]:
# Open the file and read it.
f = open('US_births_1994-2003_CDC_NCHS.csv','r')
text = f.read()

# Print 1st 100 characters.
text[0:100]

'year,month,date_of_month,day_of_week,births\n1994,1,1,6,8096\n1994,1,2,7,7772\n1994,1,3,1,10142\n1994,1,'

From printing the text we can see that the data is seperated by '\n'. To seperate each item in the data set by '\n' we will create a new varaible called text_list.

In [3]:
# Use built in .split() function in Python to seperate each item by \n
text_list = text.split('\n')
text_list[0:10]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910']

This data set contains information on the year, month, day of the month, day of the week and births. We want to break down the list we currently have even further so we will have a seperate list for year, month, day of the month, day of the week and births. This will be achieved by making a list of lists.

We also want to write a generic function that can convert any csv file we put in into this format to reduce the repetive code we may need to write.

In [4]:
# The argument 'input_csv' in this case will refer to the csv file
def read_csv(input_csv):
    f = open(input_csv,'r')
    text = f.read()
    text_list = text.split('\n')
    # Remove the headers
    text_list = text_list[1:]
    
    final_list = []
   
    # Split each list element by ',' and append to final list
    for line in text_list:
        
        text_fields = line.split(',')
        int_fields = []
        
        # Converts each string to and integer to make it easier to work with
        for item in text_fields:
            int_fields.append(int(item))
        
        final_list.append(int_fields)
            
    return final_list

In [5]:
cdc_list = read_csv('US_births_1994-2003_CDC_NCHS.csv')
cdc_list[0:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

Now that the data set has been converted to a more usable format, we can start to analyse it. Let's say we work for a company that produces baby products. They want to know the amount of births per month so they can either increase or decrease the production line for a given month.

In [6]:
# 'data' refers to the cdc_list
def month_births(data):
    
    births_per_month = {}
    # Loop through list of lists
    for item in data:
        # The month is the 2nd list and the births is the last list on this list of lists
        month = item[1]
        birth = item[4]
        
        # Add the number of births to the current value, if the key exists in the dictionary.
        if month in births_per_month:
            births_per_month[month] += birth
        # Set the key equal to the value, if the key doesn't exist in the dictionary. 
        else:
            births_per_month[month] = birth
            
    return births_per_month

In [7]:
# The result is a dictionary with the month as the key and the number of births as values.
cdc_month_births = month_births(cdc_list)
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

From looking at the results, we can see that August ends up being the month with the most births.

Let's repeat the process of what we just did above for the day of the week instead of month. We'll write a function that takes in the list of lists as an argument and generate a dictionary with day of the week as the key and number of births as the value. This will give us a count of the total number of births from the data set for each day of the week.

In [8]:
def dow_births(data):
    
    births_per_day = {}
    
    for item in data:
        day = item[3]
        birth = item[4]
        
        if day in births_per_day:
            births_per_day[day] += birth
        else:
            births_per_day[day] = birth
    
    return births_per_day

In [9]:
cdc_day_births = dow_births(cdc_list)
cdc_day_births

{6: 4562111,
 7: 4079723,
 1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657}

In this dataset, Monday is the first day of the week. So from looking at the code above we can see that Tuesday has the highest total amont of births for this dataset.

Let's write a more generic function that will take in two arguments, the data and the column index. A column index of 0 refers to the year column, an index of 1 refers to the month column and so on. 

By creating this generic function we can quickly generate a dictionary of all the birth counts.

In [10]:
# data = cdc list; column = column index we want to calcuate total births for
def cal_counts(data,column):
    
    number_of_births = {}
    
    for item in data:
        birth = item[4]
        line = item[column]
        
        if line in number_of_births:
            number_of_births[line] += birth
        else:
            number_of_births[line] = birth
    
    return number_of_births

In [11]:
# The result is a dictionary with the year as the key and the number of births as values.
cdc_year_births = cal_counts(cdc_list,0)
cdc_year_births

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

from glancing at the results, it shows that the total births in the US grew from 1994 to 2003.

We'll use the same function again to look at the total number of births in each day of the month

In [12]:
# dom = date of the month
cdc_dom_births = cal_counts(cdc_list, 2)
cdc_dom_births

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 746696}

From this result, we can see that there is significantly less births on the 31st day of the month. This is most likely due to the fact that not every month has 31 days in it.

Now lets's write a function that can calculate the min and max values for any dictionary that is passed in to quickly get an idea of these values for births for each of our dictionaries.

In [13]:
def calc_min_max(dictionary):
    #The method items() returns a list of dictionaries (key, value) tuple pairs
    rowmax = dictionary.values()
    # max function return the largest item in an iterable or the largest of two or more arguments.
    maximum = max(rowmax)
    
    rowmin = dictionary.values()
    minimum = min(rowmin)
    
    return maximum, minimum

# Used the births per month as the argument to see if the function was accurate
max_min_months = calc_min_max(cdc_month_births)
max_min_months

(3525858, 3018140)

From the investigation we can see that August has the most births and February has the least.

We'll now combine the CDC data with the SSA data, which is part of this repository. We're going to find a way to deal with the overlapping time periods in the datasets.

In [14]:
ssa_list = read_csv('US_births_2000-2014_SSA.csv')
ssa_list[:5]

[[2000, 1, 1, 6, 9083],
 [2000, 1, 2, 7, 8006],
 [2000, 1, 3, 1, 11363],
 [2000, 1, 4, 2, 13032],
 [2000, 1, 5, 3, 12558]]

In [15]:
# Overlapping data is from 2000 - 2003
for row in cdc_list:
    if row[0] == 2000:
        print(cdc_list.index(row))
        # break terminates nearest enclosing loop
        break

2191

In [16]:
# Now we have the overlapping data for cdc_list
overlap_cdc = cdc_list[2191 :]
print(overlap_cdc[0])
print(overlap_cdc[-1])

[2000, 1, 1, 6, 8843]
[2003, 12, 31, 3, 12374]

In [17]:
# Get overlapping data for ssa_list
for row in ssa_list:
    if row[0] == 2004:
        print(ssa_list.index(row))
        break

1461

In [18]:
overlap_ssa = ssa_list[: 1461]
print(overlap_ssa[0])
print(overlap_ssa[-1])

[2000, 1, 1, 6, 9083]
[2003, 12, 31, 3, 12540]

In [19]:
cdc_ssa_birth = []
for i, cdc in enumerate(overlap_cdc):
    # Get mean of cdc_list and ssa_list from 2000 to 2003
    births = (cdc[4] + overlap_ssa[i][4]) // 2
    cdc_ssa_birth.append(births)

# Mean births of cdc and ssa lists from 2000 to 2003
cdc_ssa_birth[0:5]

[8963, 7911, 11243, 12867, 12399]

In [20]:
combined = overlap_cdc

for i, row in enumerate(combined):
    row[4] = cdc_ssa_birth[i]
    
# Now we have the average births for the cdc_list and ssa_list in the overlapping data
print(combined[:10])

[[2000, 1, 1, 6, 8963], [2000, 1, 2, 7, 7911], [2000, 1, 3, 1, 11243], [2000, 1, 4, 2, 12867], [2000, 1, 5, 3, 12399], [2000, 1, 6, 4, 12363], [2000, 1, 7, 5, 12398], [2000, 1, 8, 6, 8842], [2000, 1, 9, 7, 7842], [2000, 1, 10, 1, 11543]]

In [24]:
# Now we will merge the lists together
merged_list = []

merged_list.extend(cdc_list[:2191])
merged_list.extend(combined)
merged_list.extend(ssa_list[1461:])

print(len(merged_list))
print(merged_list[0])
print(merged_list[-1])

7670
[1994, 1, 1, 6, 8096]
[2014, 12, 31, 3, 11990]

The variable merged_list now contains that from the cdc_list and the ssa_list. The overlapping data was determined to be from 2000 - 2003. This was dealt with by getting the average births of the cdc_list and ssa_list from the years of 2000 - 2003. We can now perform analysis with this data.